doctype html

html
  head
    include _head
    title= about.yaml

  body
    div#about
      each author in about.authors
        .author
          p.author-name= author.name
          p.author-contacts.link-group
            each contact in author.contacts
              a(href="#{contact.link}", target="#{contact.target}")= contact.name
      each change in about.changes
        p.change-log= change.desc
