doctype html

html
  head
    meta(http-equiv="content-type" content="text/html;charset=utf-8")
    meta(meta name="viewport" content="width=device-width")

    title 关于
    
    link(rel="stylesheet", type="text/css", href="js/initaudioplayer-1.css")

    script(type="text/javascript").
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22869884-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  body
    div#about
      span
        p Less is more.
        br
        br
        p 越小墨
        a(href="http://noeer.com", target="_blank") 博客
        | &nbsp;&nbsp;|&nbsp;&nbsp;
        a(href="http://www.douban.com/people/cafe1618/" target="_blank") 豆瓣
        | &nbsp;&nbsp;|&nbsp;&nbsp;
        a(href="http://www.zhihu.com/people/yousurm" target="_blank") 知乎
        br
        br
        br
        | 2010.4.27 上线。"聋子音乐电台"
        br 
        br 
        | 2011.3.14 "城落""
        br 
        br 
        | 2014.2.17 更改单曲、期刊的推荐形式
