doctype html

html
  head
    include _head
    title 留言
    
  include _body
    div#comment
      div.ds-thread
      script(type="text/javascript").
        var duoshuoQuery = {short_name:"newcityfall"};
        (function() {
            var ds = document.createElement('script');
            ds.type = 'text/javascript';ds.async = true;
            ds.src = 'http://static.duoshuo.com/embed.js';
            ds.charset = 'UTF-8';
            (document.getElementsByTagName('head')[0] 
            || document.getElementsByTagName('body')[0]).appendChild(ds);
        })();
    </script>
