doctype html

html
  head
    include _head

    title 留言

    link(rel="stylesheet", type="text/css", href="js/initaudioplayer-1.css")

    script(type="text/javascript").
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22869884-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();   

  body
    div#comment
      div.ds-thread
      script(type="text/javascript").
        var duoshuoQuery = {short_name:"newcityfall"};
        (function() {
            var ds = document.createElement('script');
            ds.type = 'text/javascript';ds.async = true;
            ds.src = 'http://static.duoshuo.com/embed.js';
            ds.charset = 'UTF-8';
            (document.getElementsByTagName('head')[0] 
            || document.getElementsByTagName('body')[0]).appendChild(ds);
        })();
    </script>
